p{
    font-size: 12px;
    font-family: "Courier New";
    text-align: justify;
    text-indent : 12px;
    margin-top:10px;
    margin-bottom:20px;
}

h1 {
    color: red;
    text-align:center;
    font-size: 20px;
    font-family: Arial;
    background-color: lightyellow;
}

.auteur {
    text-align:center;
    color: purple;
    text-align:center;
    font-size: 16px;
    font-family: Arial;
    margin-top:20px;
}

.cv-auteur {
    text-align:center;
    color: purple;
    text-align:center;
    font-size: 16px;
    font-family: Arial;
    margin-bottom:20px;
}

.origine, .miocènes {
    font-size: 11px;
    font-family: Arial;
    text-indent: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2{
    color: blue;
    font-size: 15px;
    font-family: Arial;
    font-weight: bolder;
}

body{counter-reset: h2 h2 h2;}
h2:before {
    content: counter(h2) "  ";
    counter-increment: h2;
}

.epoque {
    font-size: 12px;
    font-family: "Times New Roman";
    font-style: italic;
    margin-top:10px;
    margin-bottom:20px;
    margin-left: 1cm;
    margin-right: 1cm;
}

h3{
    font-size: 13px;
    font-family: "Times New Roman";
    text-decoration: underline;
}

body{counter-reset: h3 h3 h3 h3 h3 h3 h3 h3 h3;}
h2:before {
    content: counter(h3) "  ";
    counter-increment: h3;
}

.six {
    font-size: 12px;
    font-family: "Courier New";
    text-indent : 12px;
    margin-top:10px;
    margin-bottom:20px;
}

.sept {
    font-style: italic;
    margin-top:10px;
    margin-bottom:20px;
    text-indent : 10px;
}

.huit {
    text-indent: 0;
    margin-top:10px;
    margin-bottom:20px;
    color:cornflowerblue;
}
